*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg);
    width: auto;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    animation: bg 35s infinite linear 7s normal;
}

.flask.success{
    color: rgba(6, 170, 170, 0.904);
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
}
.flask.danger{
    color: rgb(236, 11, 11);
    font-size: 25px;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
}
@keyframes bg{
    0.1%{
       background-image: url(https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg);
    }
    25%{
        background-image: url(https://images.pexels.com/photos/262713/pexels-photo-262713.jpeg);
    }
    50%{
        background-image: url(https://images.pexels.com/photos/355887/pexels-photo-355887.jpeg);
    }
    75%{
        background-image: url(https://images.pexels.com/photos/19212126/pexels-photo-19212126.jpeg);
    }100%{
        background-image: url(https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg);
    }
}
header{
    color: rgb(199, 180, 146);
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(
        120deg,
        rgba(31, 30, 30, 0.486),
        rgba(0, 0, 50, 0.507),
        rgba(180, 7, 7, 0.603)
    );
    backdrop-filter: blur(6px);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    
}

header h1{
    padding: 12px;
}
header nav{
    text-align: left;
    
}
header nav a{
    text-decoration: none;
    color: rgba(194, 191, 19, 0.945);
    padding-right: 12px;
    font-size: 20px;
    text-transform: uppercase;
}
footer{
    text-align: center;
    background-color: blue;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-top: 4rem;
}
.container_box{
    box-shadow: 0px 0px 16px 2px rgba(200, 150, 100, 0.3232), 0px 0px 18px 4px rgba(39, 35, 145, 0.308),0px 0px 20px 6px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(rgba(156, 21, 134, 0.342));
    border: 2px solid rgb(199, 169, 169);
    padding: 12px;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
        120deg,
        rgba(31, 30, 30, 0.5),
        rgba(0, 0, 50, 0.479),
        rgba(180, 7, 7, 0.541)
    );
    animation: rotate_background 40s normal .5s infinite linear;
}
@keyframes rotate_background {
    0%{
         background-image: linear-gradient(
        72deg,
        rgba(31, 30, 30, 0.5),
        rgba(0, 0, 50, 0.479),
        rgba(180, 7, 7, 0.541)
    );
    }
    25%{
         background-image: linear-gradient(
        144deg,
        rgba(31, 30, 30, 0.5),
        rgba(0, 0, 50, 0.479),
        rgba(180, 7, 7, 0.541)
    );
    }
    50%{
         background-image: linear-gradient(
        216deg,
        rgba(31, 30, 30, 0.5),
        rgba(0, 0, 50, 0.479),
        rgba(255, 255, 0, 0.13)
    );
    }
    75%{
         background-image: linear-gradient(
        288deg,
        rgba(31, 30, 30, 0.5),
        rgba(0, 0, 50, 0.479),
        rgba(16, 157, 175, 0.541)
    );
    }
    100%{
         background-image: linear-gradient(
        360deg,
        rgba(218, 9, 9, 0.5),
        rgba(18, 167, 194, 0.479),
        rgba(161, 13, 112, 0.541)
    );
    }
}

.container_box h1{
   color: rgba(9, 192, 40, 0.829);
     background-image: linear-gradient(
        120deg,
        rgba(207, 13, 13, 0.5),
        rgba(204, 29, 189, 0.479),
        rgba(32, 240, 222, 0.322)
    );
    box-shadow:0px 0px 5px 2px rgba(200, 150, 50, 0.5);
    border-radius: 9px;
    background: transparent;
    width: 100%;
}

.input_box{
    width: auto;
    padding: 12px;
    font-size: 18px;
    background: 
    linear-gradient(rgba(151, 15, 128, 0.473));
    border: none;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    color: black;
    background-image: linear-gradient(
        169deg,
        rgba(200, 0, 0, 0.36),
        rgba(0, 177, 200, 0.46),
        rgba(17, 192, 17, 0.5)
    );
}
#file{
    color:wheat;
    font-size: 16px;
}

#btn, #login_btn{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background:linear-gradient(rgba(255, 2, 2, 0.4)) ;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 12px;
    background-image: linear-gradient(
        169deg,
        rgba(200, 0, 0, 0.36),
        rgba(26, 214, 228, 0.46),
        rgba(184, 31, 125, 0.5)
    );
}

.btn, .login_btn{
   text-align: center;
}

::placeholder{
    color: rgb(8, 7, 7);
}
.upload_box{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 20rem;
    padding: 12px;
}
.notes_box{
    width: 100%;
}
.notes_table{
    width: 100%;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
}

.notes_table th, .notes_table td{
    padding: 1rem;
    text-align: left;
    color: rgb(241, 239, 235);
    text-transform: capitalize;
    border: 2px solid rgba(27, 183, 194, 0.267);
    min-width: 20vw;
    font-size: 1.2rem;
}
.download_btn{
    text-decoration: none;
    border:none;
    color: black;
    background-image: linear-gradient(
        120deg,
        rgba(9, 146, 116, 0.349),
        rgba(201, 12, 185, 0.3),
        rgba(42, 181, 199, 0.418)
    );
    backdrop-filter: blur(5px);
    border-radius: 16px;

}
.notes{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
}
.notes nav{
    text-align: end;
    padding: 5px;
}
.notes a{
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(126, 117, 117);
    text-align: right;
}

